body {background-color: tan}
img {width: 100px; float: right}
#a {font-family: Arial; text-align: center}
.a {font-size: 20px; font-weight: 500; display: inline}
caption {font-family: Tahoma; font-size: 30px}
table {width: 100%; border: 2px solid}
th, td {width: 10%; border: 1px solid}
