<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Название сайта</title>
    <link rel="stylesheet" href="..\static\css\index.css">
</head>
<body>
    <div id="a">
        <img src="..\static\img\img.png">
        <h1 class="a">15 </h1><h2 class="a">различных </h2><h3 class="a">тегов - </h3><h4 class="a">это </h4><h5 class="a">так-то </h5><h6 class="a">много...</h6>
        <p><b>а всякие там <i>html, head, meta, body</i> - считаются?</b><br>
        <u>ну и теги типа h считаются за один?</u></p>
        <tt>tt пишет, что не поддерживается в html5. а мне он нравился...</tt>
        <!-- списки надо вставлять, или так пойдет? :) -->
    </div>
    <table>
        <caption>название таблицы</caption>
        <tr>
            <th>Основы Flask</th>
            <th>HTML & CSS</th>
            <th>Шаблоны и формы в Flask</th>
            <th>Основы Flask-SQLAlchemy. Работа с базами данных в Flask</th>
            <th>Авторизация в Flask</th>
            <th>Работа с REST API</th>
            <th>Итоговый проект</th>
            <th>Итоговая аттестация</th>
        </tr>
        <tr>
            <td>100%</td>
            <td>100%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr>
            <td>100%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
            <td>0%</td>
        </tr>
        <tr>
            <td>типа коментарий</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</body>
</html>